@use '../../mixins.scss' as mixins;

#add-item{
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        gap:20px;
        @media(max-width:700px){
            flex-direction: column;
            align-items:center;
        }
    }
    h1{
        text-align: center;
        margin-top:10px;
        margin-bottom: 20px;
    }
    .form-part{
        // max-width: min(400px,95vw);
        background-color: white;
        border-radius: 5px;
        padding:10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:5px;
        z-index: 1;
        width:min(400px,90vw);
        .form-one-input{
            display: flex;
            flex-direction: column;
            width:100%;
            max-width: 380px;
        }

        label{
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 1px;
            &:after{
                content:' '
            }
        }
    
        input,select{
            min-width:240px;
            
            width: 95%;
            height: 25px;
            margin-bottom: 5px;
            font-size: 18px;
            padding-left: 10px;
            opacity: 0.9;
            
            &[type="file"] {
                max-width: 300px;
                white-space: normal;
                word-wrap: break-word;
               
                font-size: 12px;
            }
        }

        



    }

    

    button{
        @include mixins.base-button(mixins.$primary-color);
        font-size:20px;
        margin-bottom: 5px;
    }

    .one-item{
        margin-bottom: 50px;
    }
}