@use '../../mixins.scss' as mixins;

.edit-one-item{

    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid mixins.$primary-color;
    background-color:white;
    div{
        display: flex;
        align-items:center;
    }

    &:first-of-type{
        margin-top: 50px;
    }

    .edit-image{
        width:50px;
        height:50px;
    }

    .edit-buttons{
        min-width: 100px;

        .edit-btn-edit{
            width:40px;
            height: 40px;
            @include mixins.base-button(mixins.$secondary-color);
            
        }
    
        .edit-btn-delete{
            @include mixins.base-button(mixins.$primary-color);
            width:40px;
            aspect-ratio:1;
            font-weight: 700;
        }

    }



    
}


