@use '../../mixins.scss' as mixins;

.wrapper{
    .all-orders{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        flex-wrap: wrap;
        gap:10px;
        margin-top: 20px;
        .one-order{
            padding:0 5px;
            width: 650px;
            
            
            border-radius: 5px;
            @media(max-width:620px){
                max-width: 95vw;
            }
            
            &.order-done{
                background-color: rgb(144, 255, 136);
                border: 1px solid rgb(152, 255, 142);
            }

            &.order-pending{
                background-color:white;
                border: 1px solid rgb(211, 211, 211);
            }
            .order-img{
                width:50px;
                aspect-ratio: 1;
            }

            .order-info{
                display: flex;
                align-items:center;
                justify-content: space-between;
                border-bottom:1px solid rgb(211, 211, 211);
                background-color:white;
                padding:0 5px;
                .left-part{
                    display: flex;
                    align-items:center;
                    
                }



                .order-info-name{
                    margin-right: 10px;
                    font-weight: 500;
                    
                }

                .order-info-quantity{
                    margin-right:10px;
                    font-weight: 700;
                }
            }
       
            
            
            
       
            h2{
                font-size: 40px;
                padding: 5px;
            }

            h3{
                margin-bottom: 5px;
                opacity: 0.7;
                padding: 5px;
                font-weight: 300;
                &:first-of-type{
                    opacity: 1;
                    font-weight: 600;
                    font-size: 25px;
                }
            }

            h4{
                padding:5px;
                font-weight: 500;
            }
       
            .buttons-section{
                
                display: flex;
                justify-content: center;
                align-items:center;
                gap:20px;
                
                .update-btn{
                    @include mixins.base-button(mixins.$secondary-color);
                }
    
                .delete-btn{
                    @include mixins.base-button(mixins.$primary-color);
                    margin:10px 20px;
                }
            }
       
        }

        



    }

    

    
}