.wrapper{
    .all-orders{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        gap:10px;
        margin-top: 20px;
        .one-order{
           
            min-width: 600px;
            min-height:100px;
            border: 1px solid red;
            
            &.order-done{
                background-color: rgb(137, 255, 137);
            }

            &.order-pending{
                background-color:rgb(255, 126, 126);
            }
            .order-img{
                width:50px;
                aspect-ratio: 1;
            }

            .order-info{
                display: flex;
                align-items:center;

                .order-info-name{
                    margin-right: 10px;
                }

                .order-info-quantity{
                    margin-right:10px;
                }
            }
        }





    }

    

    
}