*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width:1200px;
  margin: 0 auto;
}

input{
  margin: 10px 0;
}


.items{
  display: flex;
  flex-wrap: wrap;
}


.one-item{
  max-width: 400px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image{
  width: 390px;
}