@use '../../mixins.scss' as mixins ;

.one-item{
    width:100%;
    max-width: min(370px,90vw);
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:white;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.3);
    @media (max-width:768px){
      max-width: 45vw;
    }
  }
  
  
  .item-imgage-container{
    width:100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .item-image{
    margin-top: 10px;
    width:min(370px,90vw);
    max-width: 350px;
    @media (max-width:768px){
      max-width: 45vw;
    }
  }

  .item-button{

    @include mixins.base-button(mixins.$primary-color);
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .item-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    @media (max-width:768px){
      font-size: 14px;
    }
  }

  .quantity-add{
    @include mixins.base-button(mixins.$secondary-color);
    width:50px;
    aspect-ratio:1;
    font-size: 20px;
    margin-top: 5px;
    border-radius:50%;
    padding: 10px;
    @media (max-width:768px){
      width:35px;
      font-size: 16px;
    }
  }

  .quantity-buttons{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
    
    span{
      margin: 0 5px;
    }
    
  }

  .quantity-remove{
    @include mixins.base-button(mixins.$primary-color);
    padding:10px 15px;
    margin-bottom: 20px;
    font-size: 20px;
    
    border-radius:25px;
  }